<section id="volunteer-section" class="volunteer-section section theme-bg-light">
        <h3 class="section-heading text-center mb-3">Volunteers</h3>
    <div class="container">
        <!-- call for volunteers placeholder -->
        <div class="alert alert-info text-center" role="alert">
            <p>Call for Volunteers is open now !</p>
        </div>
        <!--<div class="alert alert-info text-center" role="alert"><p>Thanks to all the Volunteers who are doing a great work to organize <b>PyConf Hyderabad 2017</b>.</p><p>Call for Volunteers is <b>Closed now</b>.</p><p>If you want to attend <b>PyConf Hyderabad 2017</b> you can buy tickets from <a href="http://pyconf.hydpy.org/#tickets">this link</a>.</p></div>-->
        <p>PyConf Hyderabad is a community event. Here each and every task is done by a volunteer. And here is the
            opportunity for You to be a part of the community.</p>
        <p>But before you register to volunteer, there are few things you should be aware of</p>
        <ul>
            <li>
                <p>Volunteering takes time and effort, sometimes a lot of it. For online activities like handling social
                    networks or handling registrations etc take a lot of time. And sometimes rapid decisions have to be
                    made. So if you’re volunteering, make sure you have the time. If you’re unavailable at certain time
                    period of the day, let us know beforehand.</p>
            <li>
                <p>If you’re volunteering for offline activities e.g. on spot registration or settings up stages or
                    handling video recording, anything that has to be done on the venue during the event, there is a
                    good chance that you won’t be able to attend the sessions you just registered for. If someone needs
                    you, you have to be there.</p>
            <li>
                <p>Volunteering is not a free way into the event. At PyConf Hyderabad, everybody buys tickets. Even the
                    event organizers buy tickets. We volunteer because we love Python and Python Conferences, and want
                    the event to be awesome.</p>
            <li>
                <p>Volunteers are the most important part of the event. Without the volunteers, the event cannot happen.
                    So even if you are attending PyConf for the first time, we encourage you to volunteer with whatever
                    you can. If you don’t want to miss any sessions, then volunteer for smaller tasks.</p>
        </ul>
        <p>If you’re still interested in volunteering, here is what you should do next:</p>
        <ul>
            <li>
                <p>Subscribe to our <a href="https://mail.python.org/mm3/mailman3/lists/hydpy.python.org/">mailing
                        list</a>.</p>
            <li>
                <p>Register for volunteering in <a href="https://forms.gle/qiKhorSfMjbWCN7Y7">this form</a>. We’ll add
                    you to the volunteer communication channel where you can pickup tasks as they are posted.</p>
        </ul>
        <p>Also, if you have any question, we’d really appreciate if you go through the mailing list archives first, and
            see if it’s already answered. If not, you can send an email to the mailing list.</p>
        <p>Hope to see you at the event. Happy volunteering. :)</p>
        <p><strong>Credits:</strong> Parts of this article is derived from the <a
                href="https://in.pycon.org/blog/2019/volunteering-for-pycon-india-2019.html">PyCon India 2019 article,
                Volunteering for PyCon India</a>.</p>
    </div>
</section>